.happy{
    width: 1200px;
    margin: 0px auto;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .bdcard{
    width: 00px;
    float:left; 
    padding: 0px;
  }
  .bdcard img{
    width:1000px;
  }
  .bdtext{
    float: right;  
    width: 800px;
    padding: 0px 0px 0px 200px;
  }