.happy{
    width: 1200px;
    margin: 0px auto;
    overflow: hidden; /* 避免長方框下面顯示不正常 */
  }
  .bdcard{
    width: 00px;
    float:left; /* 圖片在左邊 */
    padding: 0px;
  }
  .bdcard img{
    width:1000px;
  }
  .bdtext{
    float: right;  /* 文字在右邊 */
    width: 800px;
    padding: 0px 0px 0px 200px;
  }