.btn{
    font-size: 20px ;
    border: none;
    font-weight: bolder;
    color: rgb(10, 12, 12);
    background-color: orange;
}
.btn:hover{
    background-color: orange;
    color: white;
}
.footer_btn{
    font-size: 20px ;
    border: none;
    font-weight: normal;
    color: rgb(10, 12, 12);
    background-color: orange;
    text-decoration: none;
    border-radius: 10px;
}
.footer_btn:hover{
    border:none;
    background-color: orange;
    color: white;
}